form.form-horizontal(ng-submit="parent.loginAction()" method="post")
  fieldset
    // Form Name
    legend Parent login
    // Text input
    .form-group
      label.col-md-4.control-label(for='phone') Phone Number
      .col-md-4
        input#phone.form-control.input-md(ng-model="parent.login_params.phone" name='phone', type='text', placeholder='Enter your phone number', required='')
      // Password input
    .form-group
      label.col-md-4.control-label(for='password') Password
      .col-md-4
        input#password.form-control.input-md(ng-model="parent.login_params.password"   name='password', type='password', placeholder='enter your password', required='')
    // Button
    .form-group
      label.col-md-4.control-label(for='login')
      .col-md-4
        button#singlebutton.btn.btn-primary(name='button' type='submit') Login
    .form-group
      label.col-md-4.control-label(for='forgotpassword')
      .col-md-4
        a(href='forgot_password') Forgot password?
